# Virtual Environment
env/

# Dataset and Test Sets
dataSet/

# NN Weights
yolo/yolov3_custom_train_final.weights

# OS and Program Files
.idea/
.DS_Store
* .DS_Store

# Cache and Session
sourceCode/__pycache__/
last_Image/event.json
last_Image/last_Frame.jpg
logs/

# Dependencies
./node_modules
node_modules/

# Device Config
sourceCode/device.json
